<section class="third-section" #thirdSection>
  <h1 class="heading-1" id="buy">Test Section</h1>
  <div class="info-1">
    <div class="info-1__text">
      <h2 class="heading-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </h2>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
        tempora eveniet adipisci sunt harum, eos nobis asperiores cumque
        veniam fuga fugit eius ab reiciendis, culpa id recusandae illum
        quisquam!
      </p>
      <a class="btn--learn">Learn More</a>
    </div>
  </div>
</section>
