<section class="second-section" #secondSection>
  <div class="box"></div>
  <h1 class="heading-1" id="buy">Buying a home doesn't have to be a mystery.</h1>
  <div class="info-1">
    <div class="info-1__text">
      <span class="quote">
        "
      </span>
      <h2 class="heading-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </h2>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
        tempora eveniet adipisci sunt harum, eos nobis asperiores cumque
        veniam fuga fugit eius ab reiciendis, culpa id recusandae illum
        quisquam!
      </p>
      <a class="btn--learn">Learn More</a>
    </div>
    <div class="info-1__visual">
      <img src="../assets/photo-1593016605825-8cfb409ca3b1.jpeg" alt="">
    </div>
  </div>
</section>