<div class="main">
  <section class="first-section">
    <div class="info">
      <h1 class="heading-1">
        Real estate advice for real locals.
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia adipisci
        deserunt eaque.
      </p>
      <a class="btn btn--start">Get Started</a>
    </div>
    <div class="visuals">
      <div class="image-container">
        <img
          #imageFirst
          src="../assets/photo-1536179247184-595913ca4a28.jpeg"
          alt=""
        />
      </div>
      <div class="image-container">
        <img
          #imageSecond
          src="../assets/photo-1469817805249-72b7df1c3c05.jpeg"
          alt=""
        />
      </div>
    </div>
  </section>